__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv/
env/
venv/
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
.eggs/
*.log
*.sqlite
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
reports/
*.xml
node_modules/
.DS_Store
Thumbs.db
supervisord.log
supervisord.pid
supervisor.sock
logs/
